.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section--title {
  height: 25vh;
  padding-bottom: 2rem;
  font-size: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.section--content {
  min-height: 100vh;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section--content.with-title {
  min-height: 75vh;
  padding: 0 2rem 6rem 2rem;
}
